:root {
    --gap-lg: 1rem;
    --icon-size: 8rem;
}

html,
body {
    background-color: #222222;
    color: #ffffff;
    height: 100vh;
    margin: 0;
    font-family: Trebuchet MS, Arial, sans-serif;
}

.upload-form {
    gap: var(--gap-lg);
}

.choose-button {
    color: #ffffff;
    background-color: hsl(0, 0%, 20%);
    font-size: var(--font-lg);
    padding: 1rem 1.5rem;
    border: 0.33rem dashed #ffffff;
    border-radius: 2rem;
    cursor: pointer;
}

.choose-button:hover,
.choose-button.drag {
    background-color: hsl(0, 0%, 30%);
}

.choose-button:active {
    background-color: hsl(0, 0%, 40%);
}

.choose-icon {
    width: var(--icon-size);
    height: var(--icon-size);
}