html,
body {
    background-color: var(--color-bg);
    color: #fff;
    margin: 0;
    font-family: Trebuchet MS, Arial, sans-serif;
}

header,
footer {
    height: 3rem;
}

.select-button {
    color: #fff;
    background-color: hsl(0, 0%, 20%);
    aspect-ratio: 1;
    padding: 1rem;
    border: var(--border-size) dashed #fff;
    border-radius: 2rem;
    cursor: pointer;
    user-select: none;
}

.select-button:hover,
.select-button.drag {
    background-color: hsl(0, 0%, 30%);
}

.select-button:active {
    background-color: hsl(0, 0%, 40%);
}

.files-table-container {
    width: 80vw;
    overflow-x: auto;
}

.files-table {
    table-layout: fixed;
    border-spacing: 0;
    border: var(--border-size) solid var(--color-basic);
    border-radius: 1rem;
}

.files-table th:nth-child(1),
.files-table td:nth-child(1) {
    width: 3rem;
}

.files-table th:nth-child(3),
.files-table td:nth-child(3) {
    width: 7rem;
}

.files-table th {
    padding: 0.5rem 1.5rem;
    background-color: var(--color-bg-lighter);
    text-align: left;
}

.files-table-item td {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    padding: 0.5rem 1.5rem;
}

.files-table-item td:nth-child(1) {
    width: 1rem;
}

.files-table-item:nth-of-type(even) {
    background-color: var(--color-bg-lighter);
}