:root {
    --color-basic: hsl(0, 0%, 40%);
    --color-basic-hover: hsl(0, 0%, 50%);

    --color-primary: hsl(40, 80%, 50%);
    --color-primary-hover: hsl(40, 80%, 60%);

    --color-shadow: rgb(0, 0, 0);

    --color-bg: hsl(0, 0%, 10%);
    --color-bg-lighter: hsl(0, 0%, 15%);

    --font-basic: 16px;
    --font-medium: 1.25rem;
    --font-large: 1.5rem;

    --gap-small: 0.25rem;
    --gap-medium: 1rem;
    --gap-large: 3rem;

    --border-size: 0.2rem;
}

html {
    font-size: var(--font-basic);
}

h1 {
    font-size: var(--font-large);
}

h2 {
    font-size: var(--font-medium);
}

input[type="checkbox"] {
    width: 1rem;
    height: 1rem;
}

.gap-large {
    gap: var(--gap-large);
}

.gap-medium {
    gap: var(--gap-medium);
}

.gap-small {
    gap: var(--gap-small);
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-1 {
    flex: 1;
}

.justify-center {
    justify-content: center;
}

.items-center {
    align-items: center;
}

.text-center {
    text-align: center;
}

.separator {
    border-bottom: var(--border-size) solid var(--color-basic);
}

.button {
    color: rgb(255, 255, 255);
    background-color: var(--color-basic);
    position: relative;
    padding: 0.5rem 2rem;
    font-size: 1rem;
    border: var(--border-size) solid var(--color-shadow);
    border-radius: 0.75rem;
    cursor: pointer;
    overflow: hidden;
    box-shadow: 0rem 0.25em var(--color-shadow);
}

.button:disabled {
    cursor: not-allowed;
    opacity: 0.5;
}

.button:hover:not(:disabled) {
    background-color: var(--color-basic-hover);
    text-decoration: underline;
}

.button:active:not(:disabled) {
    transform: translateY(0.25em);
    box-shadow: 0rem 0rem var(--color-shadow);
}

.button-primary {
    background-color: var(--color-primary);
}

.button-primary:hover:hover:not(:disabled) {
    background-color: var(--color-primary-hover);
}