.flex-col {
    display: flex;
    flex-direction: column;
}

.justify-center {
    justify-content: center;
}

.items-center {
    align-items: center;
}

.text-center {
    text-align: center;
}

button {
    color: rgb(255, 255, 255);
    background-color: rgb(96, 96, 96);
    position: relative;
    padding: 0.5em 1em;
    border: none;
    border-radius: 0.75rem;
    cursor: pointer;
    overflow: hidden;
}

button:disabled {
    cursor: not-allowed;
}

button::after {
    content: '';
    position: absolute;
    inset: 0;
    pointer-events: none;
    z-index: 0;
}

button:hover::after {
    background: rgba(255, 255, 255, 0.1);
}

button:active::after {
    background: rgba(0, 0, 0, 0.1);
}

button:disabled::after {
    background: rgba(0, 0, 0, 0.4);
}